.background{
    padding-top: 1px;
    padding-bottom: 350px;
    /* background-color: yellow; */
    background-image: url("https://images.unsplash.com/photo-1569728723358-d1a317aa7fba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");


}